<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hocsinhgioi.vn</title>
    <link rel="shortcut icon" type="image/png" href="/logo.jpg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/giaodiendethi.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div id="header">
            <header class="container-fluid">
                <div id="logo">
                    <a class="navbar-brand" href="#" onclick="home()">
                        <script>
                            function home() {
                                window.location.assign('/')
                            }
                        </script>
                        <img src="/logo.jpg" alt="" style="height: 80px; width: auto;">
                    </a>
                </div>
                <ul class="nav nav-pills pull-right">
                    <li class="dropdown">
                        <a href="#" onclick="signin()" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false" style="color:#ffffff">Đăng nhập/Đăng kí<span
                                class="caret"></span></a>
                        <script>
                            function signin() {
                                window.location.assign('/signin')
                            }
                        </script>
                    </li>
                </ul>
                <div class="container center_div">
                    <form class="navbar-form" method="post" action="/search">
                        <input type="text" class="form-control" name="search"
                            placeholder="Tìm kiếm tài liệu & đề thi...">
                        <button type="submit" class="btn btn-default"><span
                                class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </header>
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Trang chủ </a></li>
                <li><a href="/toan">Toán Học</a></li>
                <li><a href="/van">Ngữ Văn</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Ngoại Ngữ <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/eng">English</a></li>
                        <li><a href="/phap">French</a></li>
                        <li><a href="/nhat">Japanese</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Khoa học Tự Nhiên<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ly">Vật Lý</a></li>
                        <li><a href="/hoa">Hóa Học</a></li>
                        <li><a href="/sinh">Sinh Học</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Khoa học Xã hội<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/su">Lịch Sử</a></li>
                        <li><a href="/dia">Địa Lý</a></li>
                        <li><a href="/gdcd">Công Dân</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <div role="main" id="main">
        <% results[0].forEach(function(result) { %>
            <div class="col-md-12">
                <h3><u>
                        <%=result.name%>
                    </u></h3>
            </div>
            <div class="container-fluid">
                <section>

                    <div>
                        <a href="<%=result.link%>">
                            <img src="<%=result.link%>" class="wraptocenter">
                        </a>
                    </div>
                    <div class="text-center">
                        <a href="<%-result.link%>" class="btn btn-primary btn-lg" download="<%=result.name%>">
                            Download <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        </a>
                    </div>

                </section>
            </div>
            <% }); %>

            <% results[0].forEach(function(result) { %>
                <div class="col-md-12">
                    <h3><u> Bình luận: </u></h3>
                </div>
                <form>

                    <input type="text" id="comm" class="btn btn-default" name="texts" placeholder="Thêm bình luận..." />

                    <button type="submit" onclick="needsignin()" class="btn btn-default pull-right"> Comment</button>
                    <script>
                        function needsignin() {
                            var conf = false;
                            conf = confirm("Bạn cần đăng nhập để bình luận!");
                            if (conf) {

                                window.location.assign('/signin');
                            }
                            else {
                                return false;
                            }
                        }
                    </script>
                </form>
                <div>
                    <% results[1].forEach(function(cm) { %>
                      <div id="comment" style="<% if(!cm){%> display: none <%}%>" class="">
                        <p style="margin-left: 10px; font-size: 18px;"><strong><%= cm.firstname %> <%= cm.lastname %>:</strong> <%= cm.comment %></p>
                        <hr>
                      </div>
                    <% }); %>
                </div>
    </div>
    <% }); %>

    </div>

    <footer class="bs-docs-footer">
        <div class="container " style="padding-top: 45px;">
            <p><strong>Chia sẻ tài liệu ôn thi</strong></p>
            <p><strong> Chúc các bạn thi tốt!</strong></p>
        </div>
    </footer>

</body>

</html>